<h1 class="uppercase text-4xl tracking-widest text-[#256d22] p-6">Settings</h1>

<div class="outline outline-1 p-3 m-5 flex rounded-md">
    <div class="w-1/6">
        <img class="rounded-xl" src="../../assets/yorkshire-terrier-u2.jpg" width="250">
    </div>
    <div class="w-auto">
        <p class="text-xl font-bold p-2">Vacasa Interview</p>
        <p class="p-1">vacasa.interview&#64;vacasa.com</p>
    </div>
</div>

<h2 class="text-2xl tracking-widest p-2 mx-5">Support</h2>
<div>
    <ul class="p-7 mx-10">
        <li class="p-2 m-1 rounded-xl outline outline-1 flex hover:bg-gray-300">Privacy Policy</li>
        <li class="p-2 m-1 rounded-xl outline outline-1 flex hover:bg-gray-300">Terms of Service</li>
    </ul>
</div>